
<ng-template #loading>
    <div>No hay usuarios</div>
</ng-template>
<app-spinner [isLoading]="isLoading"></app-spinner>
<!-- component -->
<!-- Sidebar -->
<div class="h-full pb-14 shadow-md rounded-md">
    <!-- Sidebar Header -->
    <header
        class="p-3 rounded-md flex justify-between items-center bg-green-600/50 dark:bg-blue-600/50 text-white"
    >
        <p
            class="sm:text-2xl font-semibold"
            [ngClass]="isCollapsed() ? 'hidden' : 'block'"
        >
            Usuarios
        </p>
        <div class="relative">
            <button
                id="menuButton"
                class="focus:outline-none"
                (click)="toggleSidebar()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-gray-100"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                    <path
                        d="M2 10a2 2 0 012-2h12a2 2 0 012 2 2 2 0 01-2 2H4a2 2 0 01-2-2z"
                    />
                </svg>
            </button>
        </div>
    </header>

    <!-- Contact List -->
    <div
        *ngIf="clientes().length > 0; else loading"
        [ngClass]="isCollapsed() ? 'hidden' : 'block'"
        class="overflow-y-auto h-full bg-[#dcf1e4] dark:bg-[#1f2b3e]"
    >
        <div
            *ngFor="let cliente of clientes()"
            (click)="selectCliente(cliente.id_chat , cliente.nombre_sala)"
            class="flex items-center mb-4 cursor-pointer hover:bg-[#94c88d] dark:hover:bg-[#436491] text-black dark:text-white p-2 rounded-md"
        >
            <div class="w-12 h-auto bg-gray-300 rounded-full mr-3">
                <img
                    src="https://placehold.co/200x/d29f3e/000000.svg?text=ʕ•ᴥ•ʔ&font=Lato"
                    alt="User Avatar"
                    class="w-12 h-auto rounded-full"
                />
            </div>
            <div class="flex justify-between w-full items-center space-y-1">
                <div class="flex flex-col">
                    <p class="text-lg font-semibold">
                        {{ cliente.nombre_sala }}
                    </p>
                    <p
                        class="max-w-40 truncate text-sm text-gray-500 dark:text-gray-300"
                    >
                        {{ cliente.mensaje }}
                    </p>
                </div>
                <div class="flex flex-col items-end">
                    <div
                        class="overflow-hidden rounded-xl border border-green-600 px-2 mb-2 text-xs font-medium text-green-600 bg-green-600/10"
                    >
                        {{ cliente.estado }}
                    </div>
                    <p class="text-xs text-gray-500 dark:text-gray-300">
                        {{ cliente.hour }}
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
