<app-header></app-header>
<app-spinner [isLoading]="isLoading"></app-spinner>
<div
    class="flex items-center justify-center w-full h-screen py-6 md:py-24 lg:py-32"
>
    <div class="container mt-14 mx-auto px-4 md:px-6">
        <div
            class="mx-auto max-w-lg text-center bg-[#c3e1d9] border-2 border-green-700/50 dark:bg-[#1f2b3e] dark:border-2 dark:border-gray-400 shadow-lg rounded-lg px-5 py-14"
        >
            <p class="text-2xl font-bold sm:text-4xl md:text-5xl text-pretty">
                Chat de soporte en línea 🚀
            </p>
            <p class="my-12 text-lg md:text-xl text-pretty">
                Obtén ayuda rápida y eficiente con nuestro chat online. Inicia
                una conversación y resuelve tus dudas.
            </p>
            <form [formGroup]="myForm" (submit)="joinRoom()" class="mt-8 gap-6">
                <ul>
                    <li>
                        <label
                            class="flex text-md font-medium md:text-xl"
                            for="name"
                        >
                            Identifíquese:
                        </label>
                        <input
                            class="mt-2 text-sm w-full rounded-md border p-3 shadow-lg focus:outline-none text-black bg-white dark:bg-black dark:text-white"
                            id="name"
                            formControlName="name"
                            placeholder="Ingresa tu nombre"
                            type="text"
                            autofocus
                        />
                        <div
                            *ngIf="name.invalid && (name.dirty || name.touched)"
                            class="text-red-500 text-sm mt-1"
                        >
                            @if (name.hasError('required')) {
                            <div>El nombre es requerido</div>
                            } @else if (name.hasError('minlength')) {
                            <div>Nombre muy corto (min. 3 caracteres)</div>
                            } @else if (name.hasError('pattern')) {
                            <div>El nombre solo debe tener letras</div>
                            } @else if (name.hasError('maxlength')) {
                            <div>Nombre muy largo (max. 20 caracteres)</div>
                            } @else if (name.hasError('whitespace')) {
                            <div>Nombre inválido (no puede ser solo espacios)</div>
                            }
                        </div>
                    </li>
                    <li class="mt-4">
                        <button
                            class="w-full rounded-md py-3 px-4 text-lg font-medium shadow-lg border-transparent bg-slate-700 text-white hover:bg-slate-500 transition-colors duration-300 disabled:hover:bg-slate-700 disabled:opacity-50"
                            [disabled]="myForm.invalid"
                            [ngClass]="
                                myForm.invalid
                                    ? 'cursor-not-allowed'
                                    : 'cursor-pointer'
                            "
                        >
                            Iniciar Chat
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
