<app-header></app-header>
<div
    class="flex items-center justify-center w-full h-screen py-6 md:py-24 lg:py-32"
>
    <div class="container mt-14 mx-auto px-4 md:px-6">
        <div
            class="mx-auto max-w-lg text-center bg-[#c3e1d9] border-2 border-green-700/50 dark:bg-[#1f2b3e] dark:border-2 dark:border-gray-400 shadow-lg rounded-lg px-5 py-14"
        >
            <h1 class="text-3xl font-bold sm:text-5xl md:text-6xl">
                Chat de soporte en línea 🚀
            </h1>
            <p class="my-12 text-lg md:text-xl">
                Obtén ayuda rápida y eficiente con nuestro chat online. Inicia
                una conversación y resuelve tus dudas.
            </p>
            <form (ngSubmit)="joinRoom()" class="mt-8 gap-6">
                <ul>
                    <li>
                        <label
                            class="flex text-md font-medium md:text-xl"
                            for="name"
                        >
                            Identifíquese:
                        </label>
                        <input
                            class="mt-2 text-sm w-full rounded-md border p-3 shadow-lg focus:outline-none text-black bg-white dark:bg-black dark:text-white"
                            id="name"
                            name="name"
                            placeholder="Ingresa tu nombre"
                            type="text"
                            [(ngModel)]="nameUser"
                            required
                        />
                    </li>
                    <li class="mt-4">
                        <button
                            class="w-full rounded-md py-3 px-4 text-lg font-medium shadow-lg border-transparent bg-slate-700 text-white hover:bg-slate-500 transition-colors duration-300"
                            type="submit"
                            
                        >
                            Iniciar Chat
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
